@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Roboto:wght@400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.fa-align-justify {
    display: none;
}

.header__blocks {
    width: 100%;
    background-image: url(images/header\ backround\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.mobile__menu {
    width: 300px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    border-radius: 10px 0 0 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    animation-name: mobileborder;
    animation-delay: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 1.5s;
    transform: translatey(-100%);
}

@keyframes mobileborder {
    0% {
        border: 1px solid yellow;
    }
    25% {
        border: 1px solid red;
    }
    50% {
        border: 1px solid purple;
    }
    75% {
        border: 1px solid greenyellow;
    }
    100% {
        border: 1px solid white;
    }
}

.mobile__logo img {
    width: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.mobile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mobile__text a {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
}

.mobile__text a:hover {
    border-bottom: 1px solid white;
}

.fa-close {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
}

.fa-close:hover {
    color: red;
}

.header__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 200px;
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

ul li a {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

ul li a:hover {
    border-bottom: 1px solid white;
}

.Header__booknow a {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px 30px;
    background-color: #C9453B;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.Header__booknow a:hover {
    background-color: white;
    color: #C9453B;
}

.header__menu {
    margin-bottom: 150px;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.header__content__text {
    width: 66%;
}

.header__content h1 {
    font-family: Gelasio;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 30px;
}

.header__content p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    opacity: .6;
    width: 55%;
    padding-bottom: 50px;
}

.header__content a {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px 40px;
    background-color: #C9453B;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.header__content a:hover {
    background-color: white;
    color: #C9453B;
}


/* popular block
================================= */

.popular__blocks {
    width: 100%;
}

.popular__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.popular__top h1 {
    font-family: Gelasio;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.popular__top p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 60%;
}

.popular__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.popular__card1,
.popular__card2,
.popular__card3 {
    width: 360px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.popular__card1 img,
.popular__card2 img,
.popular__card3 img {
    width: 100%;
    border-radius: 10px;
    transition: .5s;
}

.popular__card1 img:hover,
.popular__card2 img:hover,
.popular__card3 img:hover {
    opacity: .8;
    transition: .5s;
}

.popular__card1__text,
.popular__card2__text,
.popular__card3__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular__cards h1 {
    font-family: Gelasio;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 0;
}

.popular__cards p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}


/* spacial block
============================ */

.special__blocks {
    width: 100%;
}

.speacial__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.special__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.special__top h1 {
    font-family: Gelasio;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 30px;
}

.special__top p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 700px;
}

.special__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.special__cards h1 {
    font-family: Gelasio;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.special__cards p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.special__cards1,
.special__cards2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.special__card {
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.special__card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.special__card__texts {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.special__card__location {
    display: flex;
}

.special__card__location p {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 5px;
}

.special__card__location img {
    width: 15px;
    height: 20px;
}

.location1,
.location2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px 10px 0px;
}


/* from block
=============================== */

.from__blocks {
    width: 100%;
}

.from__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.from__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.from__top h1 {
    font-family: Gelasio;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.from__top p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 60%;
}

.from__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.from__big__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.from__big__card h1 {
    font-family: Gelasio;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px 0 10px 0;
}

.from__big__card p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
}

.from__big__card a {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.from__small__cards {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.small__card {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.small__texts {
    width: 40%;
    margin-left: 30px;
}

.from__small__cards h1 {
    font-family: Gelasio;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px 0 10px 0;
}

.from__small__cards p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
}

.from__small__cards a {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}